body {
    font-family: Arial, sans-serif;
    background-color: #e2dede;
    margin: 0;
    padding: 0;
}
.container {
    display: block;
    width: 500px;
    height: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f22b2b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    text-align: center;
}
h1, h3 {
    color: white;
    margin-bottom: 35px;
}

.input-field {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 25px;
}
.checkbox-container {
    margin-bottom: 20px;
    text-align: left;
    padding-left: 60px;
    color: white;
    font-size: 20px;
}
.button-container {
    margin-bottom: 20px;
}
.button-container button {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}
.button-container button:hover {
    background-color: #45a049;
}
.forgot-password {
    margin-top: 20px;
}
.forgot-password a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.forgot-password a:hover {
    text-decoration: underline;
}

.btn {
    padding: 0px 70px;
    text-decoration: none;
    color: black;
    font-size: 20px;;
}
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #dd0202;
    color: white;
    margin: 0;
    padding: 0;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dd0202;
    z-index: 1000;
}
.input-movie-field {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
}
.top-nav button {
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}
.top-nav button:hover {
    background-color: #45a049;
}
.popular-movies, .recommended-movies, .other-movies {
    margin: 100px 40px 10px 40px;
    background-color: darkgreen
}
.popular-movies h2, .recommended-movies h2, .other-movies h2 {
    margin-bottom: 20px;
}
.box-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}
.box-1 {
    min-width: 200px;
    min-height: 250px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
